In [36]:
import pandas as pd

# creating and initializing a list

In [37]:
values= [[60,78,65,52,85],
         [75,85,62,61,60],
         [89,76,56,51,35],
         [40,60,70,40,45],
         [50,70,75,46,85],
         [45,66,77,49,78]]

In [38]:
type(values)

list

In [39]:
df1 = pd.DataFrame(values,columns=[
                                  'English',
                                  'Physics',
                                  'Chemistry',
                                  'Maths',
                                  'Biology'],
index=['Majid','Mohsin','Suresh','Suman','Monish','Vaani'])

In [40]:
df1

        English  Physics  Chemistry  Maths  Biology
Majid        60       78         65     52       85
Mohsin       75       85         62     61       60
Suresh       89       76         56     51       35
Suman        40       60         70     40       45
Monish       50       70         75     46       85
Vaani        45       66         77     49       78

In [41]:
#df1['Total_Kelly'] = df1['English']+df1['Physics']+df1['Chemistry']+df1['Maths']+df1['Biology']
#df1

df1["Total_marks"]= df1.sum(axis=1)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks
Majid        60       78         65     52       85          340
Mohsin       75       85         62     61       60          343
Suresh       89       76         56     51       35          307
Suman        40       60         70     40       45          255
Monish       50       70         75     46       85          326
Vaani        45       66         77     49       78          315

# Task No 1
# As because the maths paper was very tough
# it was decided that 10 grace marks will be provided.
# Applying Lambda function to a single column

In [42]:
df1['Maths_10'] = df1['Maths'].apply(lambda x : x + 10)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        60       78         65     52       85          340        62
Mohsin       75       85         62     61       60          343        71
Suresh       89       76         56     51       35          307        61
Suman        40       60         70     40       45          255        50
Monish       50       70         75     46       85          326        56
Vaani        45       66         77     49       78          315        59

# Task No 2
# Applying Lambda function to Multiple column

In [43]:
df1 = df1.apply(lambda x : x + 5)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       94       81         61     56       40          312        66
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64

# Task No 3
# Applying Lambda function to a Multiple column and get a new column call Total Marks

In [44]:
df1['Total'] = df1.apply(lambda x : x['English'] +
                                  x['Physics'] +
                                  x['Chemistry'] +
                                  x['Maths'] +
                                  x['Biology'], axis=1)
df1

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,Total
Majid,65,83,70,57,90,345,67,365
Mohsin,80,90,67,66,65,348,76,368
Suresh,94,81,61,56,40,312,66,332
Suman,45,65,75,45,50,260,55,280
Monish,55,75,80,51,90,331,61,351
Vaani,50,71,82,54,83,320,64,340

In [45]:
#df1['Percentage'] = df1.apply(lambda x: (x['English'] + x['Physics'] +x['Chemistry']+x['Maths']+x['Biology'])/500*100, axis=1)

# Task No 4
# Applying Lambda function to a Multiple column and get a new column call Total Percentage

In [46]:
df1['Percentage'] = df1.apply(lambda x : (x['English'] +
                                  x['Physics'] +
                                  x['Chemistry'] +
                                  x['Maths'] +
                                  x['Biology'])/5, axis=1)
df1

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,Total,Percentage
Majid,65,83,70,57,90,345,67,365,73.0
Mohsin,80,90,67,66,65,348,76,368,73.6
Suresh,94,81,61,56,40,312,66,332,66.4
Suman,45,65,75,45,50,260,55,280,56.0
Monish,55,75,80,51,90,331,61,351,70.2
Vaani,50,71,82,54,83,320,64,340,68.0

In [47]:
df1.drop(['Total','Percentage'],inplace=True,axis=1)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       94       81         61     56       40          312        66
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64

# Task No 5
# Applying Lambda function to a Single row

In [48]:
df1 = df1.apply(lambda x: x-10 if x.name in ['Suresh'] else x, axis=1)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       84       71         51     46       30          302        56
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64

In [49]:
## If

# Task no 6
# Applying Lambda function to a Single column

In [50]:
df1 = df1.apply(lambda x: x-6 if x.name in ['Chemistry'] else x, axis=0)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         64     57       90          345        67
Mohsin       80       90         61     66       65          348        76
Suresh       84       71         45     46       30          302        56
Suman        45       65         69     45       50          260        55
Monish       55       75         74     51       90          331        61
Vaani        50       71         76     54       83          320        64

# Task No 7
# Applying Lambda function to a Single column based on conditions

In [51]:
df1['Physics'] = df1['Physics'].apply(lambda x: x -10 if x>=75 else x)
df1

## Change the values of the dataframe for Vaani by subtracting 15 from her all the subjects marks.

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     57       90          345        67
Mohsin       80       80         61     66       65          348        76
Suresh       84       71         45     46       30          302        56
Suman        45       65         69     45       50          260        55
Monish       55       65         74     51       90          331        61
Vaani        50       71         76     54       83          320        64

# Task No 8
## Task
### Task
# How to update Specific Cell of a DataFrame

In [52]:
df1['Biology'] = df1['Biology'].apply(lambda x : x + 10 if x<=39 else x)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     57       90          345        67
Mohsin       80       80         61     66       65          348        76
Suresh       84       71         45     46       40          302        56
Suman        45       65         69     45       50          260        55
Monish       55       65         74     51       90          331        61
Vaani        50       71         76     54       83          320        64

# Task No 9
# Applying Lambda function to multiple rows based on index

In [53]:
df1 = df1.apply(lambda x : x + 5 if x.name in ['Suman','Vaani'] else x, axis=1)
df1

## Change the values of students subject marks if the student names are Suman and Majid, decrease the marks by 15.

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     57       90          345        67
Mohsin       80       80         61     66       65          348        76
Suresh       84       71         45     46       40          302        56
Suman        50       70         74     50       55          265        60
Monish       55       65         74     51       90          331        61
Vaani        55       76         81     59       88          325        69

# Task No 10
# Applying Lambda function to multiple columns

In [54]:
df1 = df1.apply(lambda x : x + 3 if x.name in ['Biology','Maths'] else x, axis=0)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69

# Task No 11
# Create new column Pass/Fail

In [55]:
df1['Grade_english'] = df1['English'].apply(lambda x : 'Pass' if x > 50 else 'Fail' )
df1


### Crrate another column for PASS or FAIL if all the subjects English, Physics, Chemistry, Maths, Biology have marks greater than 60,
### Put PASS
## PASS_FAIL

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,Grade_english
Majid,65,73,64,60,93,345,67,Pass
Mohsin,80,80,61,69,68,348,76,Pass
Suresh,84,71,45,49,43,302,56,Pass
Suman,50,70,74,53,58,265,60,Fail
Monish,55,65,74,54,93,331,61,Pass
Vaani,55,76,81,62,91,325,69,Pass

In [56]:
df1.drop(['Grade_english'],inplace=True,axis=1)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69

# Task No 12
# Create a new column that has the grade instead of marks
# A -- marks greater than equal to 80
# B -- marks greater than equal to 60 and less than 80
# C -- marks greater than equal to 40 and less than 60
# F -- marks less than 40

In [57]:
df1['Grade_english'] = df1['English'].apply(lambda x : 'A' if x>= 80 else
                                                       ('B' if x>= 60 else
                                                       ('C' if x>= 40 else 'F')))
df1

## Create the greades column for all the five subjects
## Can you find out the grades in all subjects?

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,Grade_english
Majid,65,73,64,60,93,345,67,B
Mohsin,80,80,61,69,68,348,76,A
Suresh,84,71,45,49,43,302,56,A
Suman,50,70,74,53,58,265,60,C
Monish,55,65,74,54,93,331,61,C
Vaani,55,76,81,62,91,325,69,C

In [60]:
df1.loc["max"] = df1.apply(lambda x: max(x))
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69
max          84       80         81     69       93          348        76

In [58]:
df1.drop(['Grade_english'],inplace=True,axis=1)
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69

# Task no 13
# Get rows with maximum marks for each subject and add it in the existing dataframe

In [ ]:
df1

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,maximum
Majid,65,83,70,57,90,345,67,NaN
Mohsin,80,90,67,66,65,348,76,NaN
Suresh,94,81,61,56,40,312,66,NaN
Suman,45,65,75,45,50,260,55,NaN
Monish,55,75,80,51,90,331,61,NaN
Vaani,50,71,82,54,83,320,64,NaN
Max,94,90,82,66,90,348,76,NaN

In [63]:
#max1 = df1.apply(lambda x: max(x))
#max1
df1.drop(["maximum"], inplace=True, axis=1)

df1.loc["Max"] = df1.apply(lambda x: max(x))
df1.loc["Min"] = df1.apply(lambda x: min(x))
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69
max          84       80         81     69       93          348        76
Max          84       80         81     69       93          348        76
Min          50       65         45     49       43          265        56

# Task no 14
# Get rows with minimum marks for each subject and add it in the existing dataframe

In [65]:
df1.drop(["Max","Min","max"], inplace=True, axis=0)

In [66]:
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       73         64     60       93          345        67
Mohsin       80       80         61     69       68          348        76
Suresh       84       71         45     49       43          302        56
Suman        50       70         74     53       58          265        60
Monish       55       65         74     54       93          331        61
Vaani        55       76         81     62       91          325        69

In [ ]:
min1 = df1.apply(lambda x: min(x))
df1.loc['Min'] = min1
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       94       81         61     56       40          312        66
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64
Max          94       90         82     66       90          348        76
Min          45       65         61     45       40          260        55

# Task no 15
# how to get the rank for the best performer for each subject

In [67]:
eng_rank = df1.English.rank()
eng_rank

Majid     4.0
Mohsin    5.0
Suresh    6.0
Suman     1.0
Monish    2.5
Vaani     2.5
Name: English, dtype: float64

In [ ]:
eng_rank

Majid     5.0
Mohsin    6.0
Suresh    7.5
Suman     1.5
Monish    4.0
Vaani     3.0
Max       7.5
Min       1.5
Name: English, dtype: float64

In [ ]:
## Lets remove the rows max and min to deal with the actual dataframe
df1.drop(["Max","Min"], inplace=True, axis=0)

In [ ]:
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       94       81         61     56       40          312        66
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64

In [ ]:
eng_rank = df1.English.rank()
df1

        English  Physics  Chemistry  Maths  Biology  Total_marks  Maths_10
Majid        65       83         70     57       90          345        67
Mohsin       80       90         67     66       65          348        76
Suresh       94       81         61     56       40          312        66
Suman        45       65         75     45       50          260        55
Monish       55       75         80     51       90          331        61
Vaani        50       71         82     54       83          320        64

In [70]:
eng_rank_sort = eng_rank.sort_values(ascending=True)
eng_rank_sort

Suman     1.0
Monish    2.5
Vaani     2.5
Majid     4.0
Mohsin    5.0
Suresh    6.0
Name: English, dtype: float64

In [ ]:
## Assign it into a new column in the existing dataframe

In [71]:
df1["eng_rank"]= eng_rank.sort_values(ascending=True)
df1

,English,Physics,Chemistry,Maths,Biology,Total_marks,Maths_10,eng_rank
Majid,65,73,64,60,93,345,67,4.0
Mohsin,80,80,61,69,68,348,76,5.0
Suresh,84,71,45,49,43,302,56,6.0
Suman,50,70,74,53,58,265,60,1.0
Monish,55,65,74,54,93,331,61,2.5
Vaani,55,76,81,62,91,325,69,2.5

In [73]:
def rank(x):
    for i in x:
        rank=x.rank(ascending=True)
        return rank
        
print(rank(df1['English']))
print(rank(df1['Physics']))
print(rank(df1['Chemistry']))
print(rank(df1['Maths']))
print(rank(df1['Biology']))

Majid     4.0
Mohsin    5.0
Suresh    6.0
Suman     1.0
Monish    2.5
Vaani     2.5
Name: English, dtype: float64
Majid     4.0
Mohsin    6.0
Suresh    3.0
Suman     2.0
Monish    1.0
Vaani     5.0
Name: Physics, dtype: float64
Majid     3.0
Mohsin    2.0
Suresh    1.0
Suman     4.5
Monish    4.5
Vaani     6.0
Name: Chemistry, dtype: float64
Majid     4.0
Mohsin    6.0
Suresh    1.0
Suman     2.0
Monish    3.0
Vaani     5.0
Name: Maths, dtype: float64
Majid     5.5
Mohsin    3.0
Suresh    1.0
Suman     2.0
Monish    5.5
Vaani     4.0
Name: Biology, dtype: float64